@font-face {
    font-family: 'IntegralCF-Bold';
    font-style: Bold;
    font-weight: 900;
    font-display: swap;
    src: url('~assets/fonts/IntegralCF-Bold.ttf') format('truetype');
  }
  
@font-face {
    font-family: 'grammara';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('~assets/fonts/grammara.ttf') format('truetype');
  }
  